{% extends 'accounts/accountsbase.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 col-12">
                <h2>Password Change Form</h2>
                <p class="mb-0 text-title-gray">Welcome back! Let’s start from where you left.</p>
            </div>
            <div class="col-sm-6 col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i
                                class="iconly-Home icli svg-color"></i></a></li>
                    <li class="breadcrumb-item">Password Change</li>
                </ol>
            </div>
        </div>
        
        
        <div class="container mx-auto mt-4 max-w-lg p-8  shadow-md ">
            <h1 class="mb-6 text-2xl font-bold">Change Password</h1>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="{{ form.old_password.id_for_label }}" class="block text-sm font-medium ">Old Password:</label>
                    {{ form.old_password }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.new_password1.id_for_label }}" class="block text-sm font-medium ">New Password:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.new_password2.id_for_label }}" class="block text-sm font-medium ">New Password Confirm:</label>
                    {{ form.new_password2 }}
                </div>
                <button type="submit" class="w-full py-2 bg-primary text-white font-bold hover:bg-orange-700 transition duration-300 rounded-none focus:outline-none">
                    Change Password
                </button>
            </form>
        </div>
        
        {% if messages %}
          <script>
            function showAlertBox() {
              {% for message in messages %}
                alert("{{ message }}");
              {% endfor %}
            }
            window.onload = showAlertBox;
          </script>
        {% endif %}
          

    </div>
</div>

{% endblock %}