{% extends 'base.html' %}


{% block content %}


	<!-- Password Reset Sent -->
<div class="max-w-md mx-auto p-6  shadow-md ">
	<h2 class="text-2xl font-bold mt-3 text-center">Password Reset Sent</h2>
	<hr class="my-4 border-gray-300">
	<p class="">
	  We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>
	  If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
	</p>
</div>


{% endblock %}
